<?xml version="1.0"?>
<!--
/**
 * Copyright © GetJohn Ltd 2019
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<shiphero_shiphero>
			<general>
				<enable_product_update>0</enable_product_update>
				<enable_order_update>0</enable_order_update>
			</general>
		</shiphero_shiphero>
	</default>
</config>
